/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
    --white: #fff;
    --black: #000;
    --normal: #f1f1f1; 
	--root: #00ffbb;
    --primary: #005fd3;
    --secondary: #d31500;
	--anim: cubic-bezier(1,-0.01,0,.99); 
}

h2 {
    font-weight: 600;
    font-size: medium;
}