/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
    --white: #fff;
    --black: #000;
    --normal: #f1f1f1; 
	--root: #00ffbb;
    --primary: #005fd3;
    --secondary: #d31500;
	--anim: cubic-bezier(1,-0.01,0,.99); 
}

h2 {
    font-weight: 600;
    font-size: medium;
}

@layer components {
    .button {
        @apply duration-300 text-white w-fit px-6 h-12 whitespace-nowrap absolute top-0 bottom-0 left-0 right-0 m-auto bg-black hover:bg-[var(--primary)] 
    }
}